.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listaPersonagens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 80vw;
}
